* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
.btn {
    display: inline-block;
    min-width: 205px;
    height: 60px;
    border-radius: 30px;
    background: #2e80ce;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px;
}
.btn:hover {
    opacity: 0.8;
}
.section__heading {
    color: #10375c;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}
.section__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}
/* ==========================Header=========================== */
.header {
    min-height: 100vh;
    background-color: #10375c;
    padding-top: 30px;
}
.header-top {
    display: flex;
    align-items: center;
}
/* Logo */
.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    top: 1.1em;
    left: 1.1em;
}
.logo__text {
    color: #fff;
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}
.logo__brand {
    display: block;
    font-family: "Sora", sans-serif;
    font-size: 1.8em;
    font-weight: 400;
}
.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* Navbar */
.navbar {
    margin-left: auto;
}
.navbar__list {
    display: flex;
    gap: 22px;
}
.navbar__item {
    padding: 10px;
}
.navbar__link {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
    position: relative;
}
.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
}
/* Action */
.header-action {
    margin-left: 204px;
}
.header-action__btn--log {
    color: #c9d2da;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    padding: 8px;
}
.header-action__btn--sign {
    margin-left: 20px;
    min-width: 104px;
    height: 44px;
    border-radius: 22px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    line-height: 44px;
}
/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content {
    width: calc(517 / 1170 * 100%);
}
.hero__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 114.286%; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    width: 468px;
    color: #c9d2da;
}
.hero__contact {
    margin-top: 38px;
}
.hero__phone,
.hero__contact--btn {
    text-align: center;
    font-size: 1.8rem;
    line-height: 60px;
    min-width: 205px;
    height: 60px;
    border-radius: 30px;
}
.hero__phone {
    color: #fff;
    margin-left: 38px;
}
/* Hero media */
.hero__image {
    display: flex;
    align-items: center;
}
.hero__img--1 {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 1;
}
.hero__img--2 {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    object-fit: cover;
    margin-left: -6px;
}
/* =====================Service========================= */
.service {
    margin-top: 170px;
}
.service-top__title {
    text-align: center;
}
.service-top__desc {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    text-align: center;
}
.service-content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__media {
    width: calc(570 / 1170 * 100%);
}
.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center top;
}
.service__item {
    display: flex;
    align-items: center;
    width: 470px;
    height: 128px;
    border-radius: 10px;
    background: #fff;
}
.service__item-content {
    margin-left: 3px;
}
.services__item-title {
    color: #10375c;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}
.services__item-desc {
    margin-top: 8px;
    width: 351px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.service__icon {
    margin-left: 8px;
}
.service__item:hover .service__icon rect {
    fill: #2e80ce;
}
.service__item:hover .service__icon path {
    fill: #fff;
}
.service__item:hover {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service__btn {
    margin-top: 55px;
}
/* =============================Work=============================== */
.work {
    margin-top: 170px;
}
.work .container {
    padding: 100px 0;
}
.work__subtitle {
    margin-top: 18px;
    width: 468px;
}
.work__steps {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.work__step {
    width: 338px;
    height: 370px;
    border-radius: 4px;
    background: #fff;
    border: 16px solid #eaf6ff;
    transition: transform 0.3s ease;
}
.work__step:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}
.work__step:hover .work__step-link {
    color: #2e80ce;
}
.work__step-container {
    margin-top: 43px;
    margin-left: 42px;
    margin-bottom: 43px;
}
.work__step-title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.38462; /* 138.462% */
}
.work__step-desc {
    width: 254px;
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.work__step-link {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
/* =========================feature========================= */
.feature {
    margin-top: 170px;
}
.feature .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-media {
    width: calc(570 / 1170 * 100%);
    height: 491px;
    position: relative;
}
.feature__img-1 {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    background: url(<path-to-image>) lightgray -1.5px 0px / 108.398% 100% no-repeat;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
    object-fit: cover;
    object-position: left center;
    position: absolute;
    top: 0;
    left: 0;
}
.feature__img-2 {
    width: 332px;
    height: 370px;
    border-radius: 6px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}
.feature__title {
    width: 470px;
}
.feature__desc {
    width: 468px;
    margin-top: 18px;
}
.feature__btn {
    margin-top: 38px;
}
/* =======================Team========================= */
.team {
    margin-top: 170px;
}
.team__intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 38px;
}
.team__title {
    text-align: center;
}
.team__list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.team__image {
    width: 270px;
    height: 318px;
    border-radius: 6px;
    background: #eaf6ff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transition: 0.25s;
}
.team__image:hover {
    transform: scale(1.1);
}
.team__img-1 {
    width: 262px;
    height: 290px;
    object-fit: cover;
}
.team__img-2 {
    width: 270px;
    height: 290px;
    object-fit: cover;
}
.team__img-3 {
    width: 292px;
    height: 293px;
    object-fit: cover;
}
.team__img-4 {
    width: 253px;
    height: 290px;
    object-fit: cover;
}
.team__info {
    margin-top: 18px;
}
.team__name {
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.team__address {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.85714; /* 185.714% */
}
.team__action {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}
.team__icon {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid #575f66;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team__icon:hover {
    color: #fff;
    background: #2e80ce;
    border-color: #2e80ce;
}
/* Install app */
.install-app {
    margin-top: 170px;
}
.install-app .container {
    border-radius: 4px;
    background: #2e80ce;
}
.install-app__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}
.install-app__media {
    height: 427px;
    position: relative;
}
.install-app__img {
    position: absolute;
    bottom: 0;
}
.install-app__title {
    width: 489px;
    color: #fff;
}
.install-app__desc {
    margin-top: 18px;
    width: 586px;
    color: #fff;
}
.install-app__row {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}
/* Blog */
.blog {
    margin-top: 170px;
}
.blog .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__intro {
    width: calc(470 / 1170);
}
.blog__heading {
    width: 470px;
}
.blog__link {
    display: inline-block;
    margin-top: 28px;
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.55556; /* 155.556% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.blog__action {
    margin-top: 28px;
    display: flex;
    gap: 18px;
}
.blog__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #575f66;
}
.blog__icon:hover {
    background-color: #2e80ce;
    border-color: #2e80ce;
    color: #fff;
}
.blog__list {
    display: flex;
    gap: 30px;
}
.blog__img {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}
.blog__info {
    margin-top: 18px;
    margin-left: 22px;
}
.blog__info--title {
    width: 224px;
    color: #10375c;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625; /* 162.5% */
}
.blog__info--desc {
    margin-top: 10px;
    width: 226px;
    color: #575f66;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
}
.blog__info--link {
    display: inline-block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}
.blog__info--link:hover {
    color: #2e80ce;
}
/* CTA */
.cta {
    margin-top: 170px;
}
.cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta__heading {
    width: 813px;
    margin-top: 100px;
    position: relative;
}
.cta__heading::after {
    content: "";
    display: inline-block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    position: absolute;
    bottom: -18px;
    right: 50%;
    transform: translateX(50%);
}
.cta__desc {
    margin-top: 38px;
    width: 617px;
    color: #575f66;
    text-align: center;
    font-size: 1.6rem;
    line-height: 28px;
}
.cta__btn {
    margin-top: 38px;
    margin-bottom: 100px;
}
/* =====================Footer===================== */
footer {
    margin-top: 170px;
    background: #10375c;
    font-family: "Open Sans", sans-serif;
}
footer .container {
    padding-top: 100px;
    padding-bottom: 42px;
}
/* Footer main */
.footer__main {
    display: flex;
    align-items: flex-start;
    gap: 78px;
    position: relative;
}
.footer__heading {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.footer__desc {
    color: #aab3ba;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}
.footer__logo--desc {
    margin-top: 21px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}
.footer__column {
    min-width: calc(134 / 1170 * 100%);
}
.footer__sub--desc {
    width: 273px;
}
.footer__column,
.footer__social {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.footer__column--list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__social--icon {
    display: flex;
    column-gap: 10px;
}
.footer__icon {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #fff;
    color: #2e80ce;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__icon:hover {
    color: #fff;
    background: #2e80ce;
}
.footer__action {
    margin-top: 10px;
    display: flex;
    column-gap: 12px;
}
.footer__action input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    color: #9ca8b1;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
    background: transparent;
}
.footer__action button {
    outline: none;
    border: none;
    padding: 0;
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 185.714% */
    min-width: 108px;
    height: 46px;
    border-radius: 4px;
    background: #2e80ce;
    cursor: pointer;
}
.footer__main::after {
    content: "";
    display: inline-block;
    width: 1170px;
    height: 1px;
    background: #406181;
    position: absolute;
    bottom: -28px;
}
/* End */
.footer__end--copyright {
    margin-top: 57px;
    text-align: center;
}
